# apps:
#   whoami:
#     enabled: true
#     replicas: 2
#     ingress:
#       enabled: false
#       className: nginx
#       certManagerClusterIssuer: "letsencrypt-prod"
#       annotations: {}
#       hosts:
#         - host: whoami.local
#           paths:
#             - path: /
#               pathType: Prefix
#               servicePort: http # maps to the named Service port or a number
#       tls:
#         - hosts:
#             - whoami.local
#     image:
#       repository: "traefik/whoami"
#       tag: null
#     livenessProbe:
#       enabled: true
#       type: command
#       command:
#         - cat
#         - /tmp/healthy
#       initialDelaySeconds: 5
#       periodSeconds: 10
#       timeoutSeconds: 1
#       failureThreshold: 3
#     service:
#       type: ClusterIP
#     ports:
#       - name: http
#         containerPort: 8080 # spec.template.spec.containers[].ports[].containerPort
#         protocol: TCP # optional; defaults to TCP
#         service:
#           enabled: true # set false for internal-only container ports
#           type: ClusterIP # optional; defaults to ClusterIP
#           port: 80 # spec.ports[].port
#           targetPort: http # spec.ports[].targetPort; defaults to container port/name
#           nodePort: null # required only if service.type == NodePort/LoadBalancer

globals:
  # External Secrets Manager configuration that are redeclared as we use library chart
  secretStoreRefKind: ClusterSecretStore
  secretStoreRefName: aws-ssm-parameter-store-default
  refreshInterval: 24h

namespace:
  enabled: false

persistentVolumeClaims:
