# -- Global configuration shared by helper subcharts (e.g., External Secrets Manager).
globals:
  # External Secrets Manager configuration that are redeclared as we use library chart
  secretStoreRefKind: ClusterSecretStore
  secretStoreRefName: aws-ssm-parameter-store-default
  refreshInterval: 24h

resticBackup:
  image: &resticImage
    repository: restic/restic
    tag: 0.18.1@sha256:39d9072fb5651c80d75c7a811612eb60b4c06b32ffe87c2e9f3c7222e1797e76
  enabled: false
  # Optional override for the hostname stored inside the Restic configmap.
  hostname: ""
  # Optional override for the lock retry window.
  retryLock: 15m
  cachePVC:
    name: restic-cache
    # storageClassName: local-path
    # storage: 10Gi
  pruneJob:
    image: *resticImage
    name: restic-prune
    schedule: "@weekly"
    script: |
      echo "[restic unlock] Starting stale lock removal operation"
      restic unlock
      echo "[restic prune] Starting prune operation"
      restic prune
  checkJob:
    image: *resticImage
    name: restic-check
    schedule: "@monthly"
    script: |
      echo "[restic unlock] Starting stale lock removal operation"
      restic unlock
      echo "[restic check] Starting check operation"
      restic check
