# -- Global configuration shared by helper subcharts (e.g., External Secrets Manager).
globals:
  # External Secrets Manager configuration that are redeclared as we use library chart
  secretStoreRefKind: ClusterSecretStore
  secretStoreRefName: aws-ssm-parameter-store-default
  refreshInterval: 24h

resticBackup:
  enabled: false
  cachePVC:
    name: restic-cache
    # storageClassName: local-path
    # storage: 10Gi
  pruneJob:
    schedule: "@daily"
